#masthead {
  min-height: 199px;
  background-color: #1A242F;
  color: #aaaacc;
  margin-bottom: 50px;
  text-align:center;
  h1 {
    font-size: 55px;
    line-height: 1;
    color: #FFF;
    margin-top: 50px;
  }
}