$small:767px;

.question-row {
  h3 {
    margin-top: 0;
    a {
      color: $gray-darker;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }

  &-unresolved {
    border-left: 1px solid $brand-warning;
  }
  @media screen and (max-width: $small) {
    text-align:justify;
    img{
     text-align:center;
     margin:0 auto;
   }
    h3{
     text-align:center;
   }
 }
}